html,
body {
  min-height: 100%;
}

body {
    width: 100vw;
    overflow-x: hidden;
    display: block;
    margin: 0 auto;
    background-color: black;
}

.mainscreen{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-mainscreen{
    height: 100vh;
    position: absolute;
    animation: scale-back-main 50s linear infinite;
}

.clickmenu{
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ellips-clickmenu-1{
    width: 0.7vw;
    height: 4.5vw;
    background-color: #9900FF;
    border-radius: 50%;
    position: absolute;
    animation: rotate-ellips-clickmenu-1 3s linear infinite;
}

.ellips-clickmenu-2{
    width: 0.7vw;
    height: 4.5vw;
    background-color: #9900FF;
    border-radius: 50%;
    position: absolute;
    animation: rotate-ellips-clickmenu-2 3s linear infinite;
}

.ellips-clickmenu-3{
    width: 0.7vw;
    height: 4.5vw;
    background-color: #9900FF;
    border-radius: 50%;
    position: absolute;
    animation: rotate-ellips-clickmenu-3 3s linear infinite;
}

.ellips-clickmenu-4{
    width: 0.7vw;
    height: 4.5vw;
    background-color: #9900FF;
    border-radius: 50%;
    position: absolute;
    animation: rotate-ellips-clickmenu-4 3s linear infinite;
}

.clickmenu p{
    color: white;
    font-family: helvetica-mono;
    font-size: 2.5vw;
    z-index: 1;
}

.bluesphere-main{
    width: 20vw;
    position: absolute;
    top: 0vh;
    left: 10vw;
    animation: move-bluesphere-main 60s linear infinite;
}

.device-main{
    width: 20vw;
    position: absolute;
    right: 15vw;
    top: 0;
    animation: move-device-main 30s linear infinite;
}

.glassstar-main{
    width: 25vw;
    position: absolute;
    bottom: 10vh;
    left: 30vw;
    animation: move-glassstar-main 20s linear infinite;
}

.octo-main{
    width: 30vw;
    position: absolute;
    top: 50vh;
    right: 3vw;
    animation: move-octo-main 30s linear infinite;
}

.purplestar-main{
    width: 20vw;
    position: absolute;
    animation: rotate-purplestar-main 5s linear infinite;
}

.star-box-main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 20vw;
    position: absolute;
    left: 40vw;
    top: 30vh;
}

.star-box-main p{
    color: white;
    position: absolute;
    font-family: helvetica-mono;
    font-size: 1.2vw;
}

.purplestar-main:hover{
    animation-duration: 1s;
}

.purplething-main{
    width: 25vw;
    position: absolute;
    bottom: 5vh;
    left: 7vw;
    animation: opacity-purplething-main 10s linear infinite;
}

.purplething-main:hover{
    animation-play-state: paused;
}

.whitething-main{
    width: 25vw;
    position: absolute;
    bottom: -10vh;
    right: 20vw;
    animation: move-whitething-main 20s linear infinite;
}

.r{
    font-family: fyl;
    color: white;
    position: absolute;
    font-size: 7vw;
    top: 3vw;
    left: 4.2vw;
    transform: scale(2,1);
}

.e{
    font-family: fyl;
    color: white;
    position: absolute;
    font-size: 7vw;
    top: 3vw;
    left: 9.5vw;
    transform: scale(2,1);
}

.n{
    font-family: fyl;
    color: white;
    position: absolute;
    font-size: 7vw;
    top: 9vw;
    left: 8.4vw;
    transform: scale(1,2);
}

.o{
    font-family: fyl;
    color: white;
    position: absolute;
    font-size: 7vw;
    top: 9vw;
    left: 12.5vw;
    transform: scale(1,2);
}

.v{
    font-family: fyl;
    color: white;
    position: absolute;
    font-size: 7vw;
    top: 9vw;
    left: 17vw;
    transform: scale(1,2);
}

.a{
    font-family: fyl;
    color: white;
    position: absolute;
    font-size: 7vw;
    top: 9vw;
    left: 21vw;
    transform: scale(1,2);
}

.r:hover{
    transform: translateY(-3vw) scale(2,1);
}

.e:hover{
    transform: translateY(-3vw) scale(2,1);
}

.n:hover{
    transform: translateY(3vw);
}

.o:hover{
    transform: translateY(3vw);
}

.v:hover{
    transform: translateY(3vw);
}

.a:hover{
    transform: translateY(3vw);
}

.menu{
    width: 100vw;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.icon-menu{
    width: 15vw;
    height: 90vh;
    border-radius: 50%;
    background-color: #9900FF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: white;
    font-family: helvetica-mono;
    position: absolute;
    top: 5vh;
    left: 42.5vw;
    display: none;
    z-index: 10000;
}

.text-menu-1{
    font-size: 2vw;
    cursor: pointer;
}

.text-menu-2{
    font-size: 3.5vw;
    cursor: pointer;
}

.text-menu-3{
    font-size: 2.5vw;
    cursor: pointer;
}

/*info*/

.textbox-info{
    width: 25vw;
    position: absolute;
    top: 5vh;
    left: 5vw;
    color: white;
    font-size: 1.2vw;
    font-family: helvetica-mono;
}

.bluesphere-ques-info-1{
    width: 30vw;
    position: absolute;
    top: 15vw;
    cursor: pointer;
}

.bluesphere-ques-info-2{
    width: 20vw;
    position: absolute;
    top: 7vw;
    right: 30vw;
    cursor: pointer;
}

.bluesphere-ques-info-3{
    width: 40vw;
    position: absolute;
    top: 20vw;
    right: 0vw;
    cursor: pointer;
}

.white-str-info-1{
    width: 14.4vw;
    height: 7vw;
    position: absolute;
    top: 29vw;
    left: 15vw;
    display: none;
}

.white-str-info-1 img{
    width: 100%;
}

.info-text-1{
    font-family: helvetica-mono;
    color: white;
    position: absolute;
    font-size: 1.2vw;
    left: 25.3vw;
    top: 27.6vw;
    display: none;
}

.white-str-info-2{
    width: 14.4vw;
    height: 7vw;
    position: absolute;
    top: 2.5vw;
    left: 60vw;
    display: none;
}

.white-str-info-2 img{
    width: 100%;
}

.info-text-2{
    font-family: helvetica-mono;
    color: white;
    position: absolute;
    font-size: 1.2vw;
    left: 70.8vw;
    top: 9.5vw;
    display: none;
}

.white-str-info-3{
    width: 14.4vw;
    height: 7vw;
    position: absolute;
    top: 35vw;
    left: 62vw;
    rotate: 90deg;
    display: none;
}

.white-str-info-3 img{
    width: 100%;
}

.info-text-3{
    font-family: helvetica-mono;
    color: white;
    position: absolute;
    font-size: 1.2vw;
    left: 72.8vw;
    top: 44.3vw;
    display: none;
}

/*contact*/

.contact-form{
    position: absolute;
    color: white;
    font-family: helvetica-mono;
    font-size: clamp(10px, 1.2vw, 15px);
    left: 50vw;
    top: 5vh;
}

#contacts{
    background-color: rgba(0, 0, 0, 0);
    border-radius:10px;
    border-color: white;
    width: 20vw;
    height: 2vw;
    color: white;
    font-size: clamp(10px, 1.2vw, 15px);
    font-family: helvetica-mono;
    border-width: 1px;
}

#message{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    border-color: white;
    width: 20vw;
    height: 10vw;
    color: white;
    font-size: clamp(10px, 1.2vw, 15px);
    font-family: helvetica-mono;
    resize: none;
    border-width: 1px;
}

.button-contact{
    font-family: helvetica-mono;
    color: white;
    font-size: clamp(10px, 1.2vw, 15px);
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    position: absolute;
    right: 0;
    cursor: pointer;
}

/*device*/

.bluesphere-ques-dev{
    width: 20vw;
    position: absolute;
    top: 3.5vw;
    left: 0;
    cursor: pointer;
}

.white-str-dev{
    width: 14.4vw;
    height: 7vw;
    position: absolute;
    top: 12vw;
    left: 10vw;
    display: none;
}

.white-str-dev img{
    width: 100%;
}

.device-text{
    font-family: helvetica-mono;
    color: white;
    position: absolute;
    font-size: clamp(10px, 1.2vw, 15px);
    left: 19.6vw;
    top: 10.5vw;
    display: none;
}

/*instruction*/

.textbox-instruction{
    width: 40vw;
    position: absolute;
    top: 5vh;
    left: 5vw;
    color: white;
    font-size: clamp(10px, 1.2vw, 15px);
    font-family: helvetica-mono;
}

.bluesphere-ques-instr{
    width: 20vw;
    position: absolute;
    top: 20vw;
    right: 5vw;
    cursor: pointer;
}

.white-str-instr{
    width: 14.4vw;
    height: 7vw;
    position: absolute;
    top: 29vw;
    right: 14.8vw;
    rotate: 180deg;
    display: none;
}

.white-str-instr img{
    width: 100%;
}

.instr-text{
    font-family: helvetica-mono;
    color: white;
    position: absolute;
    font-size: clamp(10px, 1.2vw, 15px);
    right: 22.9vw;
    top: 27.5vw;
    display: none;
}

/*events*/

.posters{
    width: 80vw;
    height: 90vh;
    position: relative;
    justify-self: center;
    display: flex;
}

.events-fear-1{
    width: 15vw;
    position: absolute;
    right: 12vw;
    bottom: 5vh;
    rotate: -25deg;
    cursor: pointer;
}

.events-fear-1:hover{
    rotate: 0deg;
    z-index: 100;
}

.events-fear-2{
    width: 15vw;
    position: absolute;
    right: 5vw;
    bottom: 7vh;
    rotate: 25deg;
    cursor: pointer;
}

.events-fear-2:hover{
    rotate: 0deg;
    z-index: 100;
}

.events-okto-1{
    width: 17vw;
    position: absolute;
    left: 10vw;
    top: 2vh;
    rotate: -19deg;
    cursor: pointer;
}

.events-okto-1:hover{
    rotate: 0deg;
    z-index: 100;
}

.events-okto-2{
    width: 17vw;
    position: absolute;
    left: 20vw;
    rotate: 30deg;
    cursor: pointer;
}

.events-okto-2:hover{
    rotate: 0deg;
    z-index: 100;
}

.events-openday-1{
    width: 15vw;
    position: absolute;
    bottom: 10vh;
    left: 5vw;
    rotate: -35deg;
    cursor: pointer;
}

.events-openday-1:hover{
    rotate: 0deg;
    z-index: 100;
}

.events-openday-2{
    width: 15vw;
    position: absolute;
    bottom: 11vh;
    left: 17vw;
    rotate: 7deg;
    cursor: pointer;
}

.events-openday-2:hover{
    rotate: 0deg;
    z-index: 100;
}

.events-openday-3{
    width: 15vw;
    position: absolute;
    bottom: 5vh;
    left: 10vw;
    rotate: -10deg;
    cursor: pointer;
}

.events-openday-3:hover{
    rotate: 0deg;
    z-index: 100;
}

.events-present-1{
    width: 16vw;
    position: absolute;
    cursor: pointer;
    right: 20vw;
    top: 3vh;
    rotate: 18deg;
}

.events-present-1:hover{
    rotate: 0deg;
    z-index: 100;
}

.events-present-2{
    width: 16vw;
    position: absolute;
    cursor: pointer;
    right: 25vw;
    top: 10vh;
    rotate: -13deg;
}

.events-present-2:hover{
    rotate: 0deg;
    z-index: 100;
}

.events-present-3{
    width: 16vw;
    position: absolute;
    cursor: pointer;
    right: 10vw;
    top: 15vh;
    rotate: 10deg;
}

.events-present-3:hover{
    rotate: 0deg;
    z-index: 100;
}

.events-scince-1{
    width: 18vw;
    position: absolute;
    cursor: pointer;
    bottom: 3vh;
    left: 25vw;
    rotate: -20deg;
}

.events-scince-1:hover{
    rotate: 0deg;
    z-index: 100;
}

.events-scince-2{
    width: 18vw;
    position: absolute;
    cursor: pointer;
    bottom: 2vh;
    left: 35vw;
    rotate: 15deg;
}

.events-scince-2:hover{
    rotate: 0deg;
    z-index: 100;
}

.events-scince-3{
    width: 18vw;
    position: absolute;
    cursor: pointer;
    bottom: 10vh;
    left: 30vw;
    rotate: 9deg;
}

.events-scince-3:hover{
    rotate: 0deg;
    z-index: 100;
}

.event-block{
    width: 80vw;
    height: 80vh;
    position: relative;
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.img-cont{
    height: 100%;
    width: auto;
}

.img-cont-1{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    cursor: pointer;
}

.img-cont-1 img{
    height: 100%;
}

.img-cont-2{
    height: 100%;
    position: absolute;
    left: 4vh;
    overflow: hidden;
    cursor: pointer;
}

.img-cont-2 img{
    height: 100%;
}

.img-cont-3{
    height: 100%;
    position: absolute;
    left: 8vh;
    overflow: hidden;
    cursor: pointer;
}

.img-cont-3 img{
    height: 100%;
}

.text-posters{
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    font-family: helvetica-mono;
    font-size: clamp(10px, 1.2vw, 15px);
    width: 30vw;
    height: 40%;
    display: flex;
    align-items: self-start;
    margin-top: 5vh;
    justify-content: center;
}

.restart{
    width: 4vw;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

/*манифест*/

.manifest-cont {
    perspective: 800px;
    overflow: hidden;
    height: 100vh;
    background: rgba(0, 0, 0, 0)  ;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    top: 0;
}

.manifest {
    position: relative;
    width: 90vw;
    transform-origin: bottom left;
    transform: rotateX(20deg) translateZ(0);
    animation: crawl 10s linear forwards;
}

.fin-manifest{
    width: 80vw;
    opacity: 0;
    transform: none;
    transition: opacity 1s ease;
    position: absolute;
    top: 40px;
    z-index: 100;
}

.mainscreen-m{
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130vw;
}

.background-mainscreen-2{
    height: 135vw;
    position: absolute;
    animation: scale-back-main 50s linear infinite;
}

/*order*/

.order-form{
    position: absolute;
    color: white;
    font-family: helvetica-mono;
    font-size: 1.2vw;
    left: 5vw;
    top: 5vh;
    display: flex;
    justify-content: space-between;
    width: 75vw;
}

.ord{
    background-color: rgba(0, 0, 0, 0);
    border-radius:5px;
    border-color: white;
    height: 2vw;
    color: white;
    font-size: clamp(10px, 1.2vw, 15px);
    font-family: helvetica-mono;
    border-width: 1px;
}

.f1{
    width: 31.2vw;
}

.f2{
    width: 15vw;
}

.f3{
    width: 15vw;
}


.button-order{
    font-family: helvetica-mono;
    color: black;
    font-size: 1.2vw;
    border-radius: 5px;
    background-color: white;
    border-color: rgba(0, 0, 0, 0);
    position: absolute;
    right: 0;
    cursor: pointer;
    width: 10vw;
}

.device-dev{
    width: 80vw;
    position: absolute;
    left: 10vw;
    animation: rotate 1s linear infinite;
}


.device-dev img{
    width: 100%;
}

.device-dev:hover{
    animation-play-state: paused;
}

h1{
    position: absolute;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1.5px yellow;
    font-size: 15vw;
    font-family: fyl;
    top:10vw;
    left: 10vw;
}

.text404{
    color: yellow;
    font-family: helvetica-mono;
    font-size: 2vw;
    position: absolute;
    left: 10vw;
    top: 30vw;
}

a{
    color: yellow;
    font-family: helvetica-mono;
    position: absolute;
    left: 10vw;
    top: 33vw;
    font-size: 2vw;
}